@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* index.css or your main CSS file */
.calendar-macos {
  width: 100%;
  height: 100%;
  border: none;
  font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.react-calendar {
  border: none;
  font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  padding: 0 1em;
}

.react-calendar__tile {
  max-width: 100%;
  padding: 10px;
  background: none;
}

.react-calendar__tile--now {
  background: #007aff;
  color: white;
}

.react-calendar__tile--active {
  background: #1c7dff;
  color: white;
}

.react-calendar__tile--hover {
  background: #e1effe;
}

.react-calendar__month-view__days__day--weekend {
  color: #d9534f;
}
